body {
    font-family: 'Poppins', 'Monserrat';
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #a80a0a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.proyecto {
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}*/
html, body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

i {
    font-size: 24px; /* Tamaño mediano */
    margin-right: 8px; /* Espaciado */
}

.imagen-index {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);;
}

.imagen-portfolio {
    max-width: 5%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
